<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>events_id</title>
</head>
<body>
<h1 style="background-color:DodgerBlue;">Events</h1>
<div>
    {{events_select}}
</div>
</body>
</html>