<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<form action="/vacancy/{{vacancy_id}}/events/" method="POST">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="event_date" placeholder="event_date">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="due_to_date" placeholder="due_to_date">
    <input type="submit" value="Add event">
</form>
<br>
<div>
    {% for event in events %}
    {{events}}
    </br>
    {% endfor %}
</div>
</body>
</html>
