<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<form action="/vacancy/{{vacancy_id}}/events/" method="POST">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="event_date" placeholder="Event date">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="due_to_date" placeholder="Due to date">
    <input type="submit" value="Add event">
</form>
<br>Vacancy event list:
<div>
    {% for event in events %}
    <a href="/vacancy/{{vacancy_id}}/events/{{event_id}}/">{{event}}</a>  <br/>
    {% endfor %}
</div>
<br><a href="/vacancy/{{vacancy_id}}/">Back to vacancy</a>
<br><a href="/vacancy/">All vacancies</a>
</body>
</html>

