<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New message</title>
</head>
<body>
<h2>New Email</h2>

<form id="form" method="post" action="">
    <label for="to">To:</label>
    <input type="text" id="to" name="recipient" required><br><br>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required><br><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="15" cols="80" required></textarea><br><br>
    <input type="submit" value="Send">

</form>
<h3>Recently received emails: </h3><br>
   <table id="table-emails" class="display mb-3">
       <thead>
       <tr>
           <th>Sender: </th>
           <th>Subject: </th>
           <th>Date: </th>
       </tr>
       </thead>
            <tbody>

                {% for email in emails %}
                <tr>
                    <td>{{ email['sender'] }}</td>
                    <td>{{ email['subject'] }}</td>
                    <td>{{ email['date'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
   </table>

<br><br><a href="/">To main page</a>
</body>
</html>
