<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View event {{event_id}}</title>
</head>
<body>
<h2>View event {{event_id}}</h2>

<form action="/vacancy/{{vacancy_id}}/events/{{event_id}}/" method="POST">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="event_date" placeholder="Event date">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="due_to_date" placeholder="Due to date">
    <input type="submit" value="Update event">
</form>


<br><a href="/vacancy/{{vacancy_id}}/events/">Event list</a>
<br><a href="/vacancy/{{vacancy_id}}/">Back to vacancy</a>
<br><a href="/vacancy/">All vacancies</a>

</body>
</html>

